.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
